name: Sync to Hugging Face Hub
on:
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # Replace the URL below with your specific Hugging Face Space URL
        run: git push --force https://agrim-007:$HF_TOKEN@huggingface.co/spaces/agrim-007/deep-fake-recognizer HEAD:main
